{
  "botname": "",
  "username": "",
  "password": "",
  "admins": ["76561198042819371", "203819413413"],
  "autoAccept": true,
  "idle": true,
  "idleGames": [440],
  "debug": false,
  "tradeWhitelist": {
    "enabled": false,
    "whitelist": ["76561198042819371"],
    "denyMessage": "nah brah"
  },
  "scrapbank": false
}